<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221306822742-99i39q1fukaf472gehfe8uahlian5up9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221306822742-99i39q1fukaf472gehfe8uahlian5up9</string>
	<key>API_KEY</key>
	<string>AIzaSyCaXoWs2qzESuNUozppxqj72ctzb6NFnzw</string>
	<key>GCM_SENDER_ID</key>
	<string>221306822742</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaredgoering.pilotai</string>
	<key>PROJECT_ID</key>
	<string>pilotai-4f314</string>
	<key>STORAGE_BUCKET</key>
	<string>pilotai-4f314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221306822742:ios:9661cfb3e60dcdb4d4dbf7</string>
</dict>
</plist>